.category-single a.category-single__title {
    color: #383838;
}

.category-single a.category-single__child {
    color: #9f9f9f;
}

.category-single:hover a.category-single__title, .category-single:hover a.category-single__child {
    color: #fff;
}

.section-video {
    margin-bottom: 70px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .sub-menu {
    top: 0;
    display: none;
    left: 100%;
    margin-top: -46px;
}

.sub-menu.open {
    display: block;
}

.header-menu-item > .sub-menu {
    padding-right: 0;
}

.menu-item:hover > .sub-menu {
    display: block;
}

.category-badge {
    padding: .2rem 1.3rem;
    border-radius: 15px;
    margin-right: .8rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.79;
    letter-spacing: normal;
    background-color: #e1e1e1;
    color: #001f31;
    opacity: .5;
    margin-top: 1.3rem;
}

.category-badge:hover {
    color: #63ba16;
}

.category-children__list {
    flex-flow: wrap;
}
.category-children__list > a {
    display: block;
}

.text-primary {
    color: #63ba16 !important;
}

img.avatar {
    vertical-align: middle;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.tender-box label {
    font-weight: 600;
}

.accordion .card-header {
    background-color: transparent;
}

.accordion .card {
    border: none;
}

.header-user .info-user h3 {
    font-size: 1rem;
}

.custom-control label {
    font-weight: 400;
}

.price-control {
    font-size: 1rem;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.price-control:focus {
    box-shadow: none;
    border-color: #63ba16;
    outline: 0;
}
